
<div class="content-main" [ngClass]="{darktheme: isDark}">
    <div class="intro" [ngClass]="{darktheme: isDark}">
      <h2>Jugadores fichados por Michu</h2>
      <div class="content">
        <div class="p-div">
          <p>Miguel Pérez Cuesta ‘Michu’ es para muchos el héroe de los últimos éxitos del fútbol burgalés. Y si esos muchos no están en lo cierto, al menos han dado con una de las patas más estables para que el Burgos CF esté, a día de hoy, en una situación de privilegio, inimaginable hace dos temporadas, incluso en septiembre.</p>
        </div>
        <img src="https://www.estadiodeportivo.com/imagenes/21f0bb13-185a-493b-9d5d-c20bb264214d_1200x675.jpeg"/>
      </div>
    </div>
</div>
<app-clouds></app-clouds>