/* You can add global styles to this file, and also import other style files */
h1,h2,h3,h4,h5,h6 {
    margin: 8px 0;
  }

p {
    margin: 0;
}

a,a:visited,a:hover {
    color: #1976d2;
    text-decoration: none;
}

body {
  margin:0px;
}

//Card container
// .card-container {
//     display: flex;
//     flex-wrap: wrap;
//     justify-content: center;
//     margin-top: 16px;
// }

// .card {
//     all: unset;
//     border-radius: 4px;
//     border: 1px solid #eee;
//     background-color: #fafafa;
//     height: 40px;
//     width: 200px;
//     margin: 0 8px 16px;
//     padding: 16px;
//     display: flex;
//     flex-direction: row;
//     justify-content: center;
//     align-items: center;
//     transition: all 0.2s ease-in-out;
//     line-height: 24px;
//     cursor: pointer;
    
//     &.card-small {
//       height: 16px;
//       width: 168px;
//     }

//     &:hover {
//         transform: translateY(-3px);
//         box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
//       }
// }
/* Responsive Styles (INVESTIGAR MAS)*/
@media screen and (max-width: 767px) {
    .card-container > *:not(.circle-link) {
      width: 100%;
    }

    .card:not(.highlight-card) {
      height: 16px;
      margin: 8px 0;
    }

    .card.highlight-card span {
      margin-left: 72px;
    }

  }